.live-tv{
    padding: 60px 20px 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.live-tv .label{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #1ce783;
    letter-spacing: 0.6px;
}

.live-tv .title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -.2px;
    text-align: center;
    margin: 16px 3%;
}

.live-tv .text{
    text-align: center;
    line-height: 1.36;
    margin-bottom: 20px;
}

.live-tv .link{
    background-color: #1ce783;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    height: 48px;
    min-width: 64px;
    padding: 0 24px;
    border-radius: 4px;
    margin: 20px auto 20px;
    border: 0;
}

.live-tv .comment{
    font-size: 10px;
    color: #ffffff99;
    text-align: center;
    margin : 0 20px 5%

}


.live-tv .inline-link{
    color: #ffffff99;
}

.live-tv .action-link{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.8px;
}

@media (min-width:768px) {
    .live-tv {
        padding: 60px 40px 80px;
    }

    .live-tv .title{
        font-size: 48px;
    }

    .live-tv .action-link{
        font-size: 14px;
    }

    .live-tv .text{
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width:1024px) {
    .live-tv {
       max-width: 786px;
       margin: 0 auto;
       padding-bottom: 75px;
       padding-left: 0;
       padding-right: 0;
    }

    .live-tv .label{
        font-size: 14px;
    }

    .live-tv .text{
        font-size: 18px;
        margin: 18px 17.5% 0;
    }
    
}

@media (min-width:1280px) {
    .live-tv {
        max-width: 976px;
    }

    .live-tv .text{
        margin-top: 20px;
        margin: 10px 12% 0; 
        max-width: 100%;
    }

    .live-tv .comment{
        margin-left: 7%;
        margin-right: 7%;
    }

}